*{
    box-sizing: border-box;
    margin:0;
    padding: 0; 
     font-family: "Poppins", sans-serif;
}

/* ---------shared style----------- */
:root{
    --primary-color:#3A3A3A;
}
.display-flex{
    display: flex;
}
   
.body{
    background-color: #AAAAAA;
}
.btn-primary{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
    margin-top: 16px;
}

/* _------------Nab bar style-------------- */
.navbar{
    justify-content: space-between;
    margin: 85px 120px 50px 120px;
   
}
.navbar h2{
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
}
.nav-link{
    gap: 2rem;

}
.nav-link li{
    list-style: none;
}
.nav-link a ,.banner-description{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}
.nav-icon{
    color: #000000;
}
/* -----------Banner styles---------- */
.banner{
    /* gap: 133px;
    margin-left: 120px;
    margin-right: 132px; */
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    gap: 133px;
    align-items: center;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: bold;
    color:var(--primary-color);
    margin-bottom: 1rem;
}
.banner-image img{
    width: 100%;
    background-image: url("./images/Circle\ design.svg");
    height: 475px;
    width: 475px;
}
